.DS_Store
*.ly~
*.svg
*.pdf
*.eps
*.png
*.tex
*.texi
*.count
.gitignore~
*.tex~
*.org~
*.md~
*.bak*
*.py~
EADGBE/test/.DS_Store
EADGBE/test/*.ly~
EADGBE/test/*.svg
EADGBE/test/*.pdf
EADGBE/test/*.py~

